@media screen and (max-width: 500px) {
.contact-form {
    margin: 20px auto;
    border: 3px solid green;
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(99, 103, 99, 0.078);
    justify-items: center;
    }

.head {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    gap: 0px;
}

.head .logo {
    width: 115px;
    margin-left: 10px;
}

.btn-nav {
    text-align: center;
}
.head .btn-nav a {
    display: none;
}

.toggle-btn {
    display: block;
    padding: 20px 0px 20px 30px;
}

#togglebtn {
        padding: 10px;
        font-size: 22px;
        letter-spacing: 3px;
        background:none;
        border: none;
        color: black;
}

.side-barxmark {
    text-align: right;
    margin: 20px;
    font-size: 30px;
}

.sidenav-bar {
    display: none;
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 100%;
    position: fixed;
    top: 0;
    transition: transform 0.35s ease-in-out;
}

.sidenav-bar.show{
    display: block;
}


.sidenav-links {
    text-decoration: none;
    margin-bottom: 30px;
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 22px;
}

.sidenav-links-head {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 20px; 
}

.hero {
    min-height: 150px;
    padding-top: 80px;
    padding-left: 10px;
    padding-bottom: 25px;
    text-align: left;
    background-image: url("black banner image.jpg");
    box-shadow: 0px 20px 30px rgb(70, 70, 70);
}

.hero h2 {
    width: 50%;
    font-size: 30px;
    margin-bottom: 0px;
}

.hero h3 {
    width: 60%;
    font-size: 20px;
}

.hero .hero-btn a {
    font-size: 15px;
}
.hero-content {
    padding-bottom: 25px;
    padding-left: 10px;
}

.main1 {
    display: flex;
    margin: 40px 10px 10px 10px;
    font-size: 13px;
    text-align:left;
    gap: 10px;
}

.main1 .information {
    padding-top: 0px;
    font-weight: bold;
}

.main1 img {
    width: 50%;
    height: 100%;
    margin-top: 70px;
    
}

.main2-title {
    font-size: 18px;
}

.main2-list {
    margin: 10px;
    font-size: 13px;
    font-weight: bold;
    gap: 20px;
}

.main2-list img {
    width: 50%;
    height: 100%;
}

.main2-list .Main2-mix {
    font-weight: 600;
    align-content: center;
}

.main3-no {
    font-size: 20px;
    margin: 60px 20px 60px 20px;
}

.main4 {
    font-size: 18px;
    margin: 50px 0px 50px 0px;
}


.footer-list {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    gap: 3px;
    margin: 10px;
}

.footer-list img {
    width: 55%;
    box-shadow: 0px 20px 30px rgb(70, 70, 70);
}

.spice {
    font-size: 25px;
}

.spice-para {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.footer-list .main4-masala {
    font-weight: 600;
    font-size: 13px;
}

.end {
    font-size: 18px;
    margin: 60px 10px 60px 10px;
}

.footer-1 {
    margin: 4px;
    font-size: 20px;
}

.main5-footer {
    padding: 60px;
    margin-top: 100px;

}

.main5-footer a {
    font-size: 15px;
}

.main5-footer img {
    width: 150px;
}

.product-catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 15px;
}

.para1 {
    font-size: 18px;
    font-weight: 500;

}

#about-header1 {
    font-size: 18px;
}

.para2 {
    font-size: 18px;
    font-weight: 500;
}

#about-header2 {
    font-size: 18px;
}

.para3 {
    font-size: 18px;
    font-weight: 500;
}

#about-header3 {
    font-size: 18px;
}

.para4 {
    font-size: 18px;
    font-weight: 500;
}

#about-header4 {
    font-size: 18px;
}

.para5 {
    font-size: 18px;
    font-weight: 500;
}

#about-header5 {
    font-size: 18px;
}

.para6 {
    font-size: 18px;
    font-weight: 500;
}

#about-header6 {
    font-size: 18px;
}

.para7 {
    font-size: 18px;
    font-weight: 500;
}

#about-header7 {
    font-size: 18px;
}

.contact-form {
  display: flex;
  margin: 50px auto;
  width: 280px;
}

.contact-form .contact-head {
  font-size: 22px;
}

.cartview {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    background-color: rgb(148, 209, 111);
    width: 60%;
    z-index: 1000;
    bottom: 40px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.cartview.show{
    display: none;
}

.cartview-btn {
    font-weight: bold;
    text-wrap: wrap;
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(225, 182, 25, 0.83);
    color: rgb(0, 0, 0);
}

.cartview-btn a {
    text-decoration: none;
    color: black;
}

.cartview-head{
    text-align: center;
    padding-top: 5px;
}

}